In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,KFold,GridSearchCV
import math
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn import tree
from sklearn.preprocessing import scale
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.svm import SVC
from sklearn.preprocessing import MinMaxScaler, RobustScaler
from sklearn.neighbors import KNeighborsClassifier

In [2]:
X_train = pd.read_pickle('X_train.pkl')
y_train= pd.read_pickle('y_train.pkl')

X_test= pd.read_pickle('X_test.pkl')
y_test= pd.read_pickle('y_test.pkl')

test = pd.read_pickle('test.pkl')

In [3]:
scaler = RobustScaler()

In [4]:
X_train.columns

Index(['Age', 'SibSp', 'Parch', 'Fare', 'Sex_female', 'Sex_male', 'Embarked_C',
       'Embarked_Q', 'Embarked_S', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [5]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 623 entries, 446 to 103
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Age         623 non-null    float64
 1   SibSp       623 non-null    int64
 2   Parch       623 non-null    int64
 3   Fare        623 non-null    float64
 4   Sex_female  623 non-null    uint8
 5   Sex_male    623 non-null    uint8
 6   Embarked_C  623 non-null    uint8
 7   Embarked_Q  623 non-null    uint8
 8   Embarked_S  623 non-null    uint8
 9   Pclass_1    623 non-null    uint8
 10  Pclass_2    623 non-null    uint8
 11  Pclass_3    623 non-null    uint8
dtypes: float64(2), int64(2), uint8(8)
memory usage: 29.2 KB

In [6]:
X_train.describe()

,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
count,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000
mean,29.344479,0.576244,0.386838,31.840730,0.341894,0.658106,0.176565,0.088283,0.735152,0.223114,0.211878,0.565008
std,13.028013,1.216267,0.807692,51.027372,0.474725,0.474725,0.381607,0.283933,0.441607,0.416669,0.408967,0.496154
min,0.420000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,22.000000,0.000000,0.000000,7.925000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,29.699118,0.000000,0.000000,14.454200,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,35.000000,1.000000,0.000000,30.750000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,80.000000,8.000000,6.000000,512.329200,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [7]:
target = ['Age', 'SibSp', 'Parch','Fare']

In [8]:
X_train[target] = scaler.fit_transform(X_train[target])

In [9]:
X_train.describe()

,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
count,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000,623.000000
mean,-0.027280,0.576244,0.386838,0.761732,0.341894,0.658106,0.176565,0.088283,0.735152,0.223114,0.211878,0.565008
std,1.002155,1.216267,0.807692,2.235591,0.474725,0.474725,0.381607,0.283933,0.441607,0.416669,0.408967,0.496154
min,-2.252240,0.000000,0.000000,-0.633262,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,-0.592240,0.000000,0.000000,-0.286055,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
75%,0.407760,1.000000,0.000000,0.713945,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000
max,3.869299,8.000000,6.000000,21.812705,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
kk = np.arange(2,10)

In [13]:
ac_test = []
ac_train = []

In [14]:
for k in kk:
    clf = KNeighborsClassifier(n_neighbors = k)
    clf.fit(X_train,y_train)
    y_pred = clf.predict(X_test) 
    y_pred_train = clf.predict(X_train)
    y_pred = accuracy_score(y_pred,y_test)
    y_pred_train = accuracy_score(y_pred_train,y_train)
    ac_test.append(y_pred)
    ac_train.append(y_pred_train)
    print(f"k = {k} , \n\ test {y_pred} \n\ train {y_pred_train}")

k = 2 ,
\ test 0.7126865671641791
\ train 0.8715890850722311
k = 3 ,
\ test 0.6119402985074627
\ train 0.8780096308186196
k = 4 ,
\ test 0.6902985074626866
\ train 0.8539325842696629
k = 5 ,
\ test 0.5783582089552238
\ train 0.8571428571428571
k = 6 ,
\ test 0.6492537313432836
\ train 0.8426966292134831
k = 7 ,
\ test 0.585820895522388
\ train 0.8443017656500803
k = 8 ,
\ test 0.6007462686567164
\ train 0.8394863563402889
k = 9 ,
\ test 0.5970149253731343
\ train 0.8378812199036918

In [15]:
clf = KNeighborsClassifier(n_neighbors = 4)

In [19]:
clf.fit(X_train,y_train)
predictions = clf.predict(test)

In [20]:
output = pd.DataFrame({'PassengerId': test.index, 'Survived': predictions})
output.to_csv('submissionKNN.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!